.skills-section {
  background-color: var(--light-gray); /* Light gray background */
}

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  text-align: left;
}

.skill-category {
  flex-basis: 280px; /* Each category has a base width */
  flex-grow: 1;
}

.skill-category h3 {
  font-size: 1.5rem;
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.skill-category ul {
  list-style-type: none;
  padding-left: 0;
}

.skill-category li {
  margin-bottom: 15px;
  font-size: 1.1rem;
}